/* 聊天窗口（桌面端比例） */
.chat-window {
  width: 70%;           /* 宽度更大，电脑端比例 */
  height: 650px;          /* 固定高度 */
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 12px;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
}

/* 消息列表 */
.messages-container {
  flex: 1;
  overflow-y: auto;
  padding-right: 8px;
  display: flex;
  flex-direction: column;
}

/* 单条消息 */
.chat-message {
  display: flex;
  align-items: flex-start;
  margin-bottom: 12px;
}

/* 咨询师消息靠左 */
.chat-message.consultant {
  justify-content: flex-start;
}

/* 用户消息靠右 */
.chat-message.user {
  justify-content: flex-end;
}

/* 头像 */
.chat-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 8px;
  object-fit: cover;
}


/* 气泡样式 */
.chat-bubble {
  max-width: 500px;
  padding: 8px 12px; /* 减少内边距以适应更小的字体 */
  border-radius: 16px;
  line-height: 1.4; /* 可能需要调整以适应新字体大小 */
  word-break: break-word;
  font-size: 13px; /* 将字体大小改为 13px */
}
/* 咨询师气泡 */
.chat-message.consultant .chat-bubble {
  background-color: #fff;
  text-align: left;
}

/* 用户气泡 */
.chat-message.user .chat-bubble {
  background-color: #9fe6a0;
  text-align: left;
}

/* 居中时间 */
.center-time {
  text-align: center;
  font-size: 12px;
  color: #999;
  margin: 10px 0;
}
